torch==2.2.1
torch-complex==0.4.3
torch-optimizer==0.3.0
torchaudio==2.2.1
torchdata==0.7.1
torchvision==0.17.1
tqdm==4.66.1
transformers==4.36.0
peft==0.3.0
pandas==2.1.2
numpy==1.23.5
tensorflow==2.12.0
tensorflow-hub==0.13.0
evaluate==0.4.1
openai==1.17.1